<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Strona główna</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">


  </head>
  <body>
    <div id="main_panel"> 
		<img class="logo" src="img/iz-logo.png"/>
		<div  id="title">Hospitus
		</div> 
		<div id="subtitle">
			System zarządzania procesem hospitacji<br>wydziału Informatyki i Zarządzania
		</div>
	</div> 
	<nav id="menu-box">
		<ol id="menu">
	 		<li><a href="index.html">Strona główna</a></li>
			<li>Zarządzanie planem hospitacji
				<ul>
					<li> Przeglądanie planu</li>
					<li><a href="create_schedule.html"> Tworzenie planu</a></li>
					<li> Modyfikacja planu</li>
					<li> Usuwanie planu</li>
				</ul>
			</li>
			<li><a href="#">Zarządzanie statystykami</a></li>
		</ol>
	</nav>
	<div class="log-info"><p>Niezalogowany | <a href="#">Zaloguj</a></p>
	</div>
    <div id="content">
		<div id="content_title">
			Strona główna
		</div>
		<div id="breadcrumb">
			<p>Jesteś w: <a href="#">Strona główna</a></p>
		</div>
		<div class="frame3 welcome">
			<p>Witaj w Systemie zarządzania procesem hospitacji wydziału Informatyki i Zarządzania Politechniki Wrocławskiej. W celu rozpoczęcia pracy Zaloguj się na swoje konto.</p>
		</div>
	</div>
	<div class="frame footer">
		<p><a href="index.html">Strona główna</a> | <a href="#">Kontakt</a> | <a href="#">Informacje dodatkowe</a></p>
		<p>Hospitus &copy; 2016</p>
		<p>Kostkowski Grzegorz</p>
	</div>
  </body>
</html>
